/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*main colors
MAIN : #087f5b
GREY : #343a40
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* border-bottom: 8px solid #087f5b; */
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.column-main {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 62px;
}
/*-----COMPONENT------*/
/*NAV*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 20px; */
  border-bottom: 2px solid #dee2e6;
  align-items: center;
  /* margin-bottom: 64px; */
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 10px 20px 10px 0;
}

.bag-btn {
  padding-right: 20px;
  border-right: 2px solid #dee2e6;
}

.profile-pic {
  margin-left: 20px;
}

.profile-name {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}
.nav-page-title:link,
.nav-page-title:visited {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #087f5b;
  border-right: 2px solid #dee2e6;
  padding: 10px 20px;
  align-self: center;
}

/*search box*/
.search-box {
  padding: 5px 0;
  background: none;
  border-bottom: 2px;
  border-bottom: 2px solid #087f5b;
}

.search-box:hover {
  border-bottom: none;
}

.search-txt {
  outline: none;
  background: #fff;
  font-size: 14px;
  border: none;
  width: 400px;
}
::placeholder {
  color: #aeaeae;
}

.search-btn {
  color: #087f5b;
}
/*category bar*/

.cat-nav {
  border-right: 2px solid #dee2e6;
  padding: 40px 40px;
}

h2 {
  color: #087f5b;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cat-btn:link,
.cat-btn:visited {
  text-decoration: none;
  color: #aeaeae;
}

.cat-btn:hover,
.cat-btn:active {
  color: #343a40;
}

/*product columnmn*/

.chair-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 48px;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 48px;
}
.chair:link,
.chair:visited {
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.354);
  text-decoration: none;
  color: inherit;
  border-radius: 20px;
}

.chair:hover,
.chair:active {
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.354);
}

img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 4px;
}

.chair-box {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 10px;
}
.chair-desc {
  font-size: 18px;
}
.price {
  font-weight: bold;
  font-size: 20px;
}

.chair-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.star-ico {
  width: 24px;
}
.info {
  color: #aeaeae;
  font-size: 16px;
}

/*pagination*/
.page-nav {
  margin-top: 48px;
  grid-column: -4/-1;
}
.page-list {
  display: flex;
  flex-direction: row;
  gap: 36px;
  /* justify-content: space-between; */
  align-items: flex-start;
}
.pageNo:link,
.pageNo:visited {
  text-decoration: none;
  color: #aeaeae;
}

.pageNo:hover,
.pageNo:active {
  color: #343a40;
  text-decoration: underline solid #343a40 3px;
}

.pageNext svg:hover,
.pageNext svg:active {
  stroke: #343a40;
}
.iconNext {
  width: 18px;
}

.footer-bg {
  border-top: 2px solid #dee2e6;
  padding: 40px;
  font-size: 14px;
  color: #495057;
  background-color: #f7f7f7;
}
